* {
    box-sizing: border-box;
}

html, body, h1, section, div, header {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/prism.png);
    overflow: hidden;
}

header {
    background-color: #ffffff;
    clear: both;
    display: block;
    overflow: auto;
    border: 2px solid #cccccc;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 95px;
}
h1 {
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia';
    width: 20%;
    float: left;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    margin-left: 200px;
    text-align: center;
}
h2 {
    color: #4aaaa5;
    margin: 5px 25px;
    line-height: 80px;
    height: 80px;
    font-size: 30px;
    text-align: left;
    border-bottom: 2px solid #cccccc
}
nav {
    width: 40%;
    float: right;
    height: 90px;
    background-color: #ffffff;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 200px;
}
nav a {
    background-color: white;
    float: right;
    margin-top: 30px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #cccccc;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

section {
    background-color: white;
    width: 960px;
    margin: 50px 200px 1000px;
    padding-bottom: 13px;
}

.paragraph-content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 150%;
    margin-left: 25px;
    margin-right: 25px;
}

#profile-pic {
    height: 175px;
    margin: 5px 25px;
    float: left;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 52px;
    padding: 0px;
}

ul {
    list-style: none;
    overflow: hidden;
    display: block;
    clear: both;
    column-count: 2;
    width: 500px;
    background-color: white;
    padding: 25px;
    margin-bottom: 10px;
}

li {
     overflow: hidden;
    display: inline-block;
}

.list-image {
    width: 180px;
    height: 120px;
}

.blue-background {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    position: relative;
    bottom: 15px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: -25px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: visible;
}

form {
    color: #777777;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 200%;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
 
input {
    color: #777777;
    height: 35px;
    width: 100%;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 5px;
}

#submit {
    text-align: center;
    width: 100px;
    background: #4aaaa5;
    color: white;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}